<!-- start add area content -->
<div class="add-area-content text-center section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="add-image">
                    <a href="#">
                        <div class="add-box-2"><span>Ads by NewsX</span></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end add area -->