<!-- start purchase now --> 
<div class="purchase-now">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="left-section">
                    <h5>Do you have any presale question to ask?</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                </div>
            </div>
            <div class="col-sm-3 col-sm-offset-1">
                <div class="themeix-button">
                    <a href="{{@blog.url}}" class="orange-button event-button purchase-btn">Purchase Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end purchase now -->