<!-- start category-list-post -->
<div class="category-list-post section-ptb-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-post-category category-news-one">
                    <div class="primary-heading news-heading-one">
                        <h4></h4>
                        <span class="box"></span>
                    </div>
                    <ul>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-post-category single-post-column category-news-two">
                    <div class="primary-heading news-heading-two">
                        <h4></h4>
                        <span class="box"></span>
                    </div>
                    <ul>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-post-category category-news-three">
                    <div class="primary-heading news-heading-three">
                        <h4></h4>
                        <span class="box"></span>
                    </div>
                    <ul>
                        <li>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end category-list-post -->