<script>
/*====================================================
  THEME SETTINGS & GLOBAL VARIABLES
====================================================*/

	//01. Header Banner Ads 
	
	var add_img_one = '<a href="http://themeix.com"><img class="img-responsive" src="/assets/images/add-image/leaderboard.png" alt="Advertise"></a>';

    //02. Big Banner Ads 

    var add_img_two = '<a href="http://themeix.com"><img src="/assets/images/add-image/adds.png" alt="Advertise"><div class="add-box-2"><span>Ads by NewsX</span></div></a>';


    //03. Sidebar Banner Ads 

    var sidebar_add = '<a href="http://themeix.com"><img class="img-responsive" src="/assets/images/add-image/advertising-1840351_640.jpg" alt="Advertise"></a>';

    //04. Bottom Call Out

    var purchage_heading = "Enough impress to buy super fast template?";
    var purchage_details = "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.";
    var purchage_link = "https://themeforest.net/item/newsx-responsive-news-magazine-viral-blog-template/20484274";
    var purchage_btn_text = "COMPRAAAAAAAAAAAA Now!";


    //05. Top Slider Settings

    var post_type_featured = "featured:true";
    var slider_number = 6;


    //06. Top News Settings

    var post_type_top_news = "getting-started";
    var top_news_post_number = 5;

    //07. Gallery Post Settings

    var post_type_one = "getting-started";
    var gallery_post_number = 6;
    var gallery_heading = "Gallery Posts";

    //08. Business Post Settings

    var post_type_two = "campanas";
    var post_type_two_heading = "Campañas";
    var category_post_number = 5;

    //09. International Post Settings

    var post_type_three = "fronteras";
    var post_type_three_heading = "Fronteras";
    var news_post_number = 5;

    //10. Financial Post Settings

    var post_type_four = "leyes";
    var post_type_four_heading = "Leyes";
    var news_post_number = 5;


    //11. Most Popular Post Settings

    var post_type_five = "sports";
    var post_type_five_heading = "Más Popular";
    var popular_post_number = 5;
    var words_per_post = 200;

    //12. Recent Post Settings

    var recent_posts_heading = "Recent posts";
	var recent_posts_number = 6;

    //13. Editors Pick Post Settings

    var post_type_six = "getting-started";
    var post_type_six_heading = "Editors Pick";
    var editorial_post_number = 5;
    var words_per_post = 200;

    //14. Sports News Post Settings

    var post_type_seven = "sports";
    var post_type_seven_heading = "Sports News";
    var post_type_seven_post_number = 12;
 
</script>