<!-- start content with sidebar -->
<div class="content-with-sidebar pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
				<!-- hide "sports section until we fill it up with something else
                    <div class="col-sm-12">
                        <div class="primary-heading sports-heading">
                            <h4></h4>
                            <span class="box"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="photo-gallery-single boxx-shadow">
                            <div class="sports-post-wrapper post-excerpt">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-descr">
                            <ul class="info sport-posts-list">

                            </ul>
                        </div>
                    </div>
				-->
                </div>
                <!-- start recent-news -->
                <div class="recent-news-area pt-30">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="recent-news-block">
                                <div class="primary-heading custom-change recent-news-heading">
                                    <h4></h4>
                                    <span class="box"></span>
                                </div>
                                <div class="recent-posts-wrapper post-excerpt">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end recent news -->
            </div>
            <div class="col-lg-4">
                <div class="single-post-sidebar">
                   <div class="row p-0"> 
                    <!--<div class="col-md-6 col-lg-12"> 
                    <div class="sidebar-widget pt-50">
                      {{> 'most_popular'}}
                    </div> 
                    </div>-->
                    <div class="col-md-6 col-lg-12"> 
						<div class="sidebar-widget pt-45">
							<div class="primary-heading">
								<h4>Categorías</h4>
								<span class="box"></span>
							</div>
							<div class="categories-list">
								<ul>
								   {{#get "tags" limit="8" as |tag_info| }}
									{{#foreach tag_info}}
									 <li><a href="{{url}}">{{name}}</a></li>
									{{/foreach}}
								   {{/get}}
								</ul>
							</div>
						</div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content with sidebar -->