<!-- start content with sidebar -->
<div class="content-with-sidebar pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <!-- start recent-news -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="recent-news-block">
                            <div class="primary-heading custom-change recent-news-heading">
                                <h4></h4>
                                <span class="box"></span>
                            </div>
                            <div class="recent-posts-wrapper post-excerpt">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- end recent news -->
            </div>
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-md-6 col-lg-12"> 
						<div class="sidebar-widget">
							<div class="primary-heading">
								<h4>Temas</h4>
								<span class="box"></span>
							</div>
							<div class="categories-list">
								<ul>
								   {{#get "tags" as |tag_info| }}
									{{#foreach tag_info}}
									 <li><a href="{{url}}">{{name}}</a></li>
									{{/foreach}}
								   {{/get}}
								</ul>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end content with sidebar -->