
{{> 'config'}}  
<header>
    <!-- End Top Bar -->
    <div class="middle-header">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="https://asointegra.azurewebsites.net/"><img src="/assets/images/logo_sm.png" alt="{{@blog.title}}"></a>
                    
                </div>
                
                <div class="col-md-10 big-title">

                    Asociación Iberoamericana para la Integración Social
                    <div class="quote-right">
                        <blockquote>
                            Todos diferentes, todos humanos, todos iguales.
                            <cite>Anónimo</cite>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End middle header -->
    <div class="main-menu">
        <!-- Start Navigation -->
        <div class="header-section pin-style">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 nopadding">
                        {{navigation}} 
                    </div> 
                    <div class="col-md-4">
                        <div class="drop-card hidden-xs hidden-sm">
                            
                        <div class="search-btn">
                            <input id="search-term-front" type="text" placeholder="Busca aquí">
                            <button class="search-link" 
                                    data-toggle="modal" 
                                    data-target="#search-page" >
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                         {{> 'search-page'}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end navigation -->
    </div>
</header>
