<div class="sidebar-widget">
  {{> 'most_popular'}}
</div>
<div class="sidebar-widget pt-40">
    <div class="primary-heading">
        <h4>Categories</h4>
        <span class="box"></span>
    </div>
    <div class="categories-list">
        <ul>
           {{#get "tags" limit="8" as |tag_info| }}
            {{#foreach tag_info}}
             <li><a href="{{url}}">{{name}}</a></li>
            {{/foreach}}
           {{/get}}
        </ul>
    </div>
</div>